@import url(base.css);

body {
    background-color: black;
}

#container {
    width: 900px;
    margin: 0 auto;
}

#logo {
    text-align: center;
    padding-top: 5px;
    margin-right: 50px;
}

#main-panel {
    width: 675px;
    vertical-align: baseline;
}

.box {
    border: 2px solid #383838;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    margin: 5px;
}

h2 {
    color: var(--link-color);
    font-family: "Pixel NES";
    margin: 0;
    display: inline;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: 0.75;
}

#avatar {
    float: left;
    margin: 10px 10px 5px 5px;
    width: 100px;
    height: 94px;
}

#menu-panel {
    width: 225px;
    max-width: 225px;
    vertical-align: baseline;
}