<!DOCTYPE html>
<html>
<head>
  <meta name="darkreader-lock" content="">
  <link rel="stylesheet" href="/src/css/blog.css">
  <link rel="stylesheet" href="/src/css/prism-atom-dark.css"> 
</head>
<body>
  <article>
    {{ content | safe }}
  </article>

  <div class="highlight">
    <p>Thank you for reading!</p>
    <br>
    <a href="https://pufikas.nekoweb.org/#blogs?post={{id}}">Click to go back to main site</a>
  </div>

</body>
</html>