
:root {
    --link-color: #0ef0f0;
    --m-grey: #373b3e;
    --m-pink:	#e12885;
    --m-primary: #137a7f;
    --m-secondary: #86cecb;
    --m-darkblue: #bec8d1;
  }
  
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* 
#2a2433
#d46a83
#854462
#f4dfde
#a295a7
#9e8ba4
*/

[data-theme="teto"] {
    --link-color: #c98b88;
    --m-grey: #787579;
    --m-pink: #e76180;
    --m-primary: #9d0b02;
    --m-secondary: #7a3857;
    --m-darkblue: #2a2433;
}

[data-theme="teto"] body {
    background-image:
    linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.3)
        ), url("/assets/themes/teto.png");
}


[data-theme="neru"] {
    --link-color: #f4a462;
    --m-grey: #3c0b47;
    --m-pink:	#f76a55;
    --m-primary: #fdd835;
    --m-secondary: #f3e8a5;
    --m-darkblue: #a3c2e1;
}

[data-theme="neru"] body {
    background-image:
    linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.3)
        ), url("/assets/themes/neru.png");
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 100% !important;
  width: 100% !important;
}

body {
  cursor: url("/assets/cursor/normal.cur"), auto !important;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: crisp-edges;
}
  
/* mobile support */
@media screen and (max-width: 500px) {
  .splash {
    font-size: 8px;
  }

  #footer {
    display: none;
  }

  #menu-panel {
    flex: 1 1 100% !important;
    display: flex;
    flex-direction: column;
  }

  #main-panel {
    flex: 1 1 100% !important;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }

  .box:has(.width100) {
    display: none;
  }
}