
:root {
    --link-color: #0ef0f0;
    --m-grey: #373b3e;
    --m-pink:	#e12885;
    --m-primary: #239fa5;
    --m-secondary: #86cecb;
    --m-darkblue: #bec8d1;
    --cursor-default: auto;
    --cursor-link-select: pointer;
    --cursor-unavailable: not-allowed;
    --cursor-help: auto;
    --cursor-person-select: pointer;
    --cursor-busy: wait;
  }
  
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* cursors */
[data-theme="miku"] {
  --cursor-default: url("/assets/cursors/miku/normal-select.cur"), auto;
  --cursor-link-select: url("/assets/cursors/miku/link-select.cur"), pointer;
  --cursor-unavailable: url("/assets/cursors/miku/unavailable.cur"), not-allowed;
  --cursor-help: url("/assets/cursors/miku/help-select.cur"), auto;
  --cursor-person-select: url("/assets/cursors/miku/person-select.cur"), pointer;
  --curosr-busy: url("/assets/cursors/miku/working-in-background.cur"), wait;
}

[data-theme="teto"] {
  --cursor-default: url("/assets/cursors/teto/normal-select.cur"), auto;
  --cursor-link-select: url("/assets/cursors/teto/link-select.cur"), pointer;
  --cursor-unavailable: url("/assets/cursors/teto/unavailable.cur"), not-allowed;
  --cursor-help: url("/assets/cursors/teto/help-select.cur"), auto;
  --cursor-person-select: url("/assets/cursors/teto/person-select.cur"), pointer;
  --curosr-busy: url("/assets/cursors/teto/working-in-background.cur"), wait;
}

[data-theme="neru"] {
  --cursor-default: url("/assets/cursors/neru/normal-select.cur"), auto;
  --cursor-link-select: url("/assets/cursors/neru/link-select.cur"), pointer;
  --cursor-unavailable: url("/assets/cursors/neru/unavailable.cur"), not-allowed;
  --cursor-help: url("/assets/cursors/neru/help-select.cur"), auto;
  --cursor-person-select: url("/assets/cursors/neru/person-select.cur"), pointer;
  --curosr-busy: url("/assets/cursors/neru/working-in-background.cur"), wait;
}

/* teto */
[data-theme="teto"] {
    --link-color: #c98b88;
    --m-grey: #787579;
    --m-pink: #e76180;
    --m-primary: #9d0b02;
    --m-secondary: #7a3857;
    --m-darkblue: #2a2433;
}

[data-theme="teto"] body {
    background-image:
    linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url("/assets/themes/teto.png");
}

[data-theme="teto"] .box.spin-img {
    content: url("/assets/misc/tetospin.gif");
}

[data-theme="teto"] .box.mikuconcert {
    content: url("/assets/misc/tt.png");
}

[data-theme="teto"] #footer {
    content: url("/assets/misc/tetofooter.png");
}

[data-theme="teto"] #mikupls {
    display: none;
}

[data-theme="teto"] div.mikus-nav {
    display: none;
}

/* neru */
[data-theme="neru"] {
    --link-color: #f4a462;
    --m-grey: #3c0b47;
    --m-pink:	#f76a55;
    --m-primary: #fdd835;
    --m-secondary: #f3e8a5;
    --m-darkblue: #a3c2e1;
}

[data-theme="neru"] body {
    background-image:
    linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url("/assets/themes/neru.png");
}

[data-theme="neru"] .box.spin-img {
    content: url("/assets/misc/neruspin.gif");
}

[data-theme="neru"] .box.mikuconcert {
    display: none;
}

[data-theme="neru"] #footer {
    content: url("/assets/misc/neru222.png");
}

[data-theme="neru"] #mikupls {
    display: none;
}

[data-theme="neru"] div.mikus-nav {
    display: none;
}



html, body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 100% !important;
  width: 100% !important;
}

body {
  cursor: var(--cursor-default) !important;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: crisp-edges;
}
  
/* mobile support */
@media screen and (max-width: 500px) {
  .splash {
    font-size: 8px;
  }

  #footer {
    display: none;
  }

  #menu-panel {
    flex: 1 1 100% !important;
    display: flex;
    flex-direction: column;
  }

  #main-panel {
    flex: 1 1 100% !important;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }

  .box:has(.width100) {
    display: none;
  }
}