
:root {
    --link-color: #0ef0f0;
    --m-grey: #373b3e;
    --m-pink:	#e12885;
    --m-primary: #137a7f;
    --m-secondary: #86cecb;
    --m-darkblue: #bec8d1;
  }
  
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 100% !important;
  width: 100% !important;
}

body {
  cursor: url("/assets/cursor/normal.cur"), auto !important;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: crisp-edges;
}
  
/* mobile support */
@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .splash {
    font-size: 8px;
  }

  #footer {
    display: none;
  }

  .mikus-nav {
    display: none;
  }

  .column2 { 
     column-gap: 40px;
  }
}
