
body {
  cursor: url("/assets/cursor/normal.cur"), auto !important;
}

html {
  overflow: auto;  
}

:root {
    --link-color: #0ef0f0;
    --m-grey: #373b3e;
    --m-pink:	#e12885;
    --m-primary: #137a7f;
    --m-secondary: #86cecb;
    --m-darkblue: #bec8d1;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }
  
  body {
    color: var(--color-text);
    background: var(--color-background);
    transition:
      color 0.5s,
      background-color 0.5s;
    line-height: 1.6;
    font-family:
      monospace;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    image-rendering: crisp-edges;
  }
  