@import url(base.css);

@font-face {
    font-family: "Terminus500";
    src: url("/assets/fonts/Terminus_500.ttf") format("truetype");
    font-display: swap;
    image-rendering: pixelated;
}

body {
    background-color: #11111b;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 3000px;
}

button {
    transition: 0.2s ease-in-out;
    background: none;
    color: var(--link-color);
    border: none;
    width: 20%;
    font-weight: bolder;
    cursor: var(--cursor-link-select);
}

button:hover {
    color: var(--m-pink);
}

.blogDetails {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    font-size: 12px;
    opacity: 0.6;
    color: var(--m-pink);
    font-style: italic;
}

.blogToggle, .blogStickyClose {
    width: 100%;
}

.blogTags {
    font-size: 14px;
    color: var(--m-grey);
}

.blogArticle {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        max-height 0.5s ease,
        opacity 0.4s ease 0.1s;
}

.blogIntro {
    opacity: 1;
    font-style: italic;
    transition: opacity 1.2s ease;
}

.blogCard.expanded .blogArticle {
    max-height: 100%;
    opacity: 1;
}

.blogCard.expanded .blogIntro {
    opacity: 0.3;
    pointer-events: none;
}

.blogOptions {
    display: flex;
    justify-content: space-between;
}

.center {
    text-align: center !important;
    display: block;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: all 0.75s;
    cursor: var(--cursor-link-select);
}

a:hover {
    color: var(--m-secondary);
    letter-spacing: 2px;
}

.highlight {
    color: var(--m-pink) !important;
}

.highlight-blue {
    color: var(--link-color) !important;
}
