body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #86cecb;
}

img {
    padding-top: 20px;
    width: 400px;
    height: 600px;
}

.fail {
    font-family: "unifont", monospace;
    color: #ff0000 !important;
    font-weight: bold;
    font-size: 60px;
}

.mint {
    font-family: "unifont", monospace;
    color: #41B883 !important;
    font-weight: bold;
}