@import url(base.css);

@font-face {
    font-family: "unifont";
    src: url("/assets/fonts/unifont-16.0.04.ttf") format("truetype");
}

body {
    background-image: url("/assets/bg/89616320_p2.jpg");
    background-color: #09111e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.splash {
    font-family: "unifont", monospace;
    position: fixed;
    z-index: 909090;
    left: 0;
    top: 0;
    width: 100%;
    height: 1200px;
    background-color: black;
    color: white;
    white-space: pre;
}

.ok {
    font-family: "unifont", monospace;
    color: #00ff00;
    font-weight: bold;
}

.ww {
    font-family: "unifont", monospace;
    color: #d0ff00;
    font-weight: bold;
}

.fail {
    font-family: "unifont", monospace;
    color: #ff0000;
    font-weight: bold;
}

.emoji {
    cursor: url("/assets/cursor/help.cur"), auto;
    width: 24px; 
    height: 24px;
}

.box {
    border: 2px solid var(--m-primary);
    border-radius: 4px;
    padding: 10px 15px;
    margin: 5px;
    color: #e0e0e0;
    background-color: rgba(7, 15, 27, 0.5);
}

h2 {
    color: var(--link-color);
    font-family: Japanese !important;
    margin: 0;
    display: inline;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: all 0.75s;
    cursor: url("/assets/cursor/select.cur"), auto;
}

a:hover {
    color: var(--m-secondary);
    letter-spacing: 2px;
}

.column2 img:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.column2 {
    position: relative;
    transition: transform 0.4s ease, opacity 0.4s ease;
    columns: 80px 2;
    min-height: 114px;
}

.slide-out-left {
    transform: translateX(40px);
    opacity: 0;
}

.slide-in-right {
    transform: translateX(-10px);
    opacity: 1;
}

button {
    transition: 0.2s ease-in-out;
    background: none;
    color: var(--link-color);
    border: none;
    width: 20%;
    font-weight: bolder;
    cursor: url("/assets/cursor/select.cur"), auto;
}

button:hover {
    color: var(--m-pink);
}

#audio-progress-container, #audio-volume {
    flex: 1;
    position: relative;
    height: 6px;
    background: #e0e0e0;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 4px;
    cursor: url("/assets/cursor/select.cur"), auto;
}
  
#audio-progress-line, #audio-volume-line {
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
    will-change: width;
    background: var(--m-primary);
}

#audio-volume-line {
    background: var(--link-color) !important;
}

#audio-timeline {
    display: flex;
    align-items: center;
    gap: 8px;
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 3939;
}

#avatar {
    float: left;
    margin: 10px 5px;
    width: 100px;
    height: 100px;
}

/* parent */
#container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

/* side panels */
#menu-panel {
    display: flex;
    flex-direction: column;
    flex: 0 0 13%;
}

/* middle panel */
#main-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex: 0 1 40%;
}

.footer {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.footer-wakatime img {
    width: 140px
}

.footer a {
    transition: none !important;
    letter-spacing: 0px !important;
}

.footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fleft, .fright {
    display: flex;
    flex-direction: column;
}

.last-update-message-container {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#logo {
    text-align: center;
    padding-top: 2px;
    font-weight: bold;
    font-size: 70px;
    font-family: unifont;
    background: linear-gradient(var(--link-color), var(--m-primary), var(--m-darkblue), var(--m-darkblue));
    color: transparent;
    background-clip: text;
    letter-spacing: 25px;
}

.center {
    text-align: center !important;
    display: block;
}

.auto-margin {
    margin: auto !important;
}

.small {
    font-size: 8px;
    font-style: italic;
}

.hidden {
    display: none;
}

[data-panel] {
  position: absolute;
  width: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: transform 0.4s ease;
  visibility: hidden;
  pointer-events: none;
}

[data-panel].active {
  position: relative;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

@keyframes scanline {
    0% {
        transform: translate3d(0, 20000%, 0);
    }
}
@keyframes scanlines {
    0% {
        background-position: 0 50%;
    }
}

.scanlines {
    /* overflow: hidden; */
    position: relative;
}
.scanlines:before,
.scanlines:after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
}
.scanlines:before {
    width: 100%;
    height: 2px;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.75;
    animation: scanline 6s linear infinite;
}
.scanlines:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.1) 51%
    );
    background-size: 100% 4px;
    animation: scanlines 5s steps(30) infinite;
}

.width100 {
    width: 100%;
    height: 100%;
}

.width80 {
    width: 80%;
    height: 100%;
}

.width50 {
    width: 50%;
    height: 100%;
}

.audio-cover {
    width: 128px;
}

#audio-author {
    font-size: 12px;
}

.mikus-nav {
    display: flex;
    justify-content: center;
    margin-top: -24px;
    gap: 4px;
    font-size: 10px; 
    opacity: 40%;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    font-family: JetBrains Mono, monospace !important;
}

.main-panel-short {
    margin-block-start: 5px;
    padding-left: 20px;
}

.noborder {
    border: none !important;
    background-color: rgba(255, 255, 254, 0.001);
}

.highlight {
    color: var(--m-pink) !important;
}

.highlight-blue {
    color: var(--link-color) !important;
}

.flex {
    display: flex;
}

.navlink {
    color: var(--link-color);
    cursor: url("/assets/cursor/select.cur"), auto;
}

.navlink:hover {
    padding-bottom: 12px;
    font-size: 14px;
    transition: all 0.2s;
    color: var(--m-secondary);
}

.grid {
    display: grid;
    grid-template-columns: 450px 1fr;
}

.right {
    text-align: right !important;
    display: block;
}

.contact {
    align-items: center;
    padding: 4px;
    border-left: solid 6px var(--m-pink);
    color: white;
    border-radius: 5px;
}

.pl10 {
    padding-inline-start: 10px;
    line-height: 1.2;
}

.block {
    display: block;
}

.contactHandle {
    font-style: italic;
    font-size: 14px;
    color: var(--m-darkblue);
    opacity: 0.75;
}

.contactName {
    font-size: 18px;
    color: var(--link-color);
}

.grid-cols-2 {
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    padding-bottom: 20px;
}

.leftImg {
    width: 100px;
    float: left;
    padding: 6px;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

.cursor {
    z-index: 999;
    position: fixed;
    background: #2696E8;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8,
                0 0 60px #2696E8,
                0 0 100px #2696E8;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
}
@keyframes colors {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.particle {
    position: fixed;
    background: #2696E8;
    border-radius: 50%;
    pointer-events: none; 
    animation: fall 3s forwards;
    aspect-ratio: 1.07;
    /* heart */
    clip-path: polygon(50% 15%, 61% 6%, 75% 6%, 85% 15%, 85% 30%, 50% 60%, 15% 30%, 15% 15%, 25% 6%, 39% 6%); 
}

@keyframes fall {
    0% {
        transform: translateY(0) scale(1);
        filter: hue-rotate(0deg);
        opacity: 1;
    }   
    100% {
        transform: translateY(200px) scale(0.3);
        filter: hue-rotate(360deg);
        opacity: 0;
    }
}

.cursor:before {
    content: ”;
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}

.smaller {
    font-size: 10px;
}

.blogDetails {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    font-size: 12px;
    opacity: 0.6;
    color: var(--m-pink);
    font-style: italic;
}

.blogToggle {
    width: 100%;
}

.blogArticle {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        max-height 0.5s ease,
        opacity 0.4s ease 0.1s;
}

.blogIntro {
    opacity: 1;
    font-style: italic;
    transition: opacity 1.2s ease;
}

.blogCard.expanded .blogArticle {
    max-height: 2000px;
    opacity: 1;
}

.blogCard.expanded .blogIntro {
    opacity: 0.3;
    pointer-events: none;
}

.footer-wakatime {
    margin-bottom: 6px;
}

#theme-container-button {
    transform: rotate(90deg);
    transform-origin: center;
    transition: all 0.3s ease;
}

#menu-panel-2 {
    position: relative;
}

#theme-switch-container {
    position: absolute;
    left: 100%;
    top: 0%;
    width: max-content;
}

.theme-inner {
    transition: all 0.3s ease 0.1s;
    transform-origin: center;
}

#theme-switch-container.slide-in-right, #theme-container-button.slide-in-right {
    transform: translateX(20px);
    opacity: 1;
}

.switch {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
}

.switch:hover {
    transform: scale(1.1);
}

#switchMiku {
    background-image: url("/assets/themes/222.png");
}

#switchTeto {
    background-image: url("/assets/themes/111.png");
}

#switchNeru {
    background-image: url("/assets/themes/333.png");
}


/* .star {
    position: fixed;
    background: #bbb015;
    border-radius: 50%;
    pointer-events: none; 
    animation: starfall 3s forwards;
    border: 2px none;
    border-radius: 422px;
    aspect-ratio: 1.07;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

@keyframes starfall {
    0% {
        transform: translate(0, 0) scale(1) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(var(--drift), 300px) scale(0.3) rotate(360deg);
        opacity: 0;
    }
}

#star-container {
    width: 1200px;
    height: 600px;
} */